html {
    font-size: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.25;
}

body {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}

html, body {
    height: 100%;
}

.a11y-hidden {
    position: absolute;
    left: auto;
    height: 1px;
    width: 1px;
    top: 0;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}

.header {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 5.75rem;
    margin-bottom: 1.875rem;
    padding: 0 2.5rem;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #F0F0F0;
}

@media (max-width: 768px) {
    .header {
        height: 4rem;
        margin-bottom: 0;
        padding: 0 0 0 1.25rem;
        border-bottom: none;
    }
}

.header__logo {
    flex: 0 0 auto;
    width: 6.75rem;
    height: 2.3125rem;
    margin-right: 3.25rem;
    background: no-repeat 50% 50% url(assets/logo.svg);
    background-size: contain;
}

.header__menu {
    display: none;
    width: 3.5rem;
    height: 100%;
    margin: 0 0 0 auto;
    padding: 0;
    background: 50% 50% no-repeat transparent url(assets/icon_list_m@1x.svg);
    border: none;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header__menu {
        display: block;
    }
}

.header__links {
    display: flex;
    gap: 1.75rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .header__links {
        display: none;

        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        padding: 1.25rem;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    }

    .header__links-toggled {
        display: flex;
        animation: hideMenu .3s ease-in-out 1;
        animation-fill-mode: both;
    }

    .header__links_opened {
        display: flex;
        visibility: visible;
        animation: showMenu .3s ease-in-out 1;
        animation-fill-mode: both;
    }
}

@keyframes showMenu {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hideMenu {
    from {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: translateY(-1rem);
        opacity: 0;
        visibility: hidden;
    }
}

.header__item {
    margin: 0;
    padding: 0;
}

.header__link {
    font-weight: bold;
    opacity: .6;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
    color: #333333;
}

.header__link:hover {
    opacity: 1;
}

.header__link_current {
    opacity: 1;
}

.main {
    display: grid;
    flex: 0 0 auto;
    grid-template-columns: 50% 50%;
    gap: 1.625rem;
    padding: 0 2.5rem;
}

@media (max-width: 768px) {
    .main {
        padding: 0 1.25rem;
    }
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: 100%;
    }
}

.main__devices {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (max-width: 1024px) {
    .main__devices {
        grid-column-end: 2;
    }
}

.section__title-header {
    margin: 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: #333333;
}

.section__title {
    display: flex;
    align-items: baseline;
    margin: 0 0 1.25rem 0;
}

@media (max-width: 768px) {
    .section__title {
        gap: 1rem;
    }

    .section__main-title {
        display: none;
    }
}

.section__select {
    display: none;
    margin: 0 0 0 auto;
    padding: 0.4375rem 1.9375rem .5rem 1rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 0.8125rem;
    font-family: inherit;
    font-weight: bold;
    background: no-repeat calc(100% - 1rem) 50% #FFD93E url(assets/arrow-down.svg);
    appearance: none;
}

@media (max-width: 768px) {
    .section__select {
        display: block;
    }
}

.section__tabs {
    display: flex;
    gap: 0.625rem;
    align-items: baseline;
    margin: 0 0 0 0.8125rem;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .section__tabs {
        display: none;
    }
}

.section__tab {
    flex: 0 0 auto;
    padding: 0.4375rem 0.9375rem .5rem;
    font-size: 0.8125rem;
    font-weight: bold;
    background: #F7F7F7;
    border-radius: 1024px;
    cursor: pointer;
    transition: .25s ease-in-out;
    transition-property: background-color, box-shadow;
}

.section__tab_active {
    background: #FFD93E;
}

.section__tab:not(.section__tab_active):hover {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.hero-dashboard {
    position: relative;
    box-sizing: border-box;
    display: flex;
    gap: 0.9375rem;
    height: 20.6875rem;
    background: no-repeat 50% 50% url(assets/bg@2x.webp);
    /*background-size: cover;*/
    background-size: 1260px;
    border-radius: 1.25rem;
}

@media (max-width: 768px) {
    .hero-dashboard {
        flex-direction: column;
        gap: 1.25rem;
        height: auto;
        margin-bottom: 0.3125rem;
        background-image: url('./assets/bg@small.webp');
    }
}

.hero-dashboard__primary {
    flex: 1 1 auto;
    padding: 1.25rem 0 1.25rem 1.25rem;
}

@media (max-width: 768px) {
    .hero-dashboard__primary {
        padding: 1.25rem 1.25rem 0 1.25rem;
    }
}

.hero-dashboard__title {
    margin: 0.375rem 0;
    font-size: 1.6875rem;
    font-weight: bold;
    color: #333333;
}

@media (max-width: 768px) {
    .hero-dashboard__title {
        font-size: 1.125rem;
    }
}

.hero-dashboard__subtitle {
    margin: 0.375rem 0 0 0;
    font-size: 0.875rem;
    color: #333333;
}

@media (max-width: 768px) {
    .hero-dashboard__subtitle {
        margin: 0.3125rem 0 0 0;
        font-size: .75rem;
    }
}

.hero-dashboard__info {
    display: flex;
    gap: 1.125rem;
    margin: 1.5625rem 0 0 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .hero-dashboard__info {
        margin-top: 0.9375rem;
    }
}

.hero-dashboard__item {
    margin: 0;
    padding: 0;
}

.hero-dashboard__item-title {
    font-size: 0.875rem;
    color: #858585;
}

@media (max-width: 768px) {
    .hero-dashboard__item-title {
        font-size: .75rem;
    }
}

.hero-dashboard__item-details {
    display: flex;
    align-items: center;
    margin-top: .25rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #333333;
}

@media (max-width: 768px) {
    .hero-dashboard__item-details {
        margin-top: 0.3125rem;
        font-size: 1.5rem;
    }
}

.hero-dashboard__icon {
    width: 1.625rem;
    height: 1.625rem;
    margin-left: 0.3125rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 768px) {
    .hero-dashboard__icon {
        width: 1.375rem;
        height: 1.375rem;
    }
}

.hero-dashboard__icon_rain {
    background-image: url(assets/cloud-drizzle.svg);
}

.hero-dashboard__schedule {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0.9375rem;
    margin: 0;
    padding: 1.25rem 1.5625rem 1.25rem 0;
    overflow: auto;
    list-style: none;
    scrollbar-width: none;
}

.hero-dashboard__schedule::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .hero-dashboard__schedule {
        flex-direction: row;
        padding: 0 1.25rem 1.25rem 1.25rem;
    }
}

.event__button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.1875rem;
    width: 100%;
    min-width: 12.5rem;
    height: 7.5rem;
    margin: 0;
    padding: 0.875rem;
    border-radius: 1.25rem;
    border: none;
    background: #F7F7F7;
    text-align: left;
    transition: .25s ease-in-out;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    appearance: none;
}

.event_slim .event__button {
    height: 6.25rem;
}

.event__button:hover {
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.event__icon {
    position: absolute;
    top: 0.875rem;
    left: 0.875rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.event__icon_temp {
    background-image: url(assets/icon_temperature.svg);
}

.event__icon_temp2 {
    background-image: url(assets/icon_temperature_2.svg);
}

.event__icon_light {
    background-image: url(assets/icon_sun.svg);
}

.event__icon_light2 {
    background-image: url(assets/icon_sun_2.svg);
}

.event__icon_schedule {
    background-image: url(assets/icon_scheduled.svg);
}

.event__title {
    margin: 0;
    font-size: 0.875rem;
    font-weight: bold;
    color: #333333;
}

.event__subtitle {
    font-size: .75rem;
    color: #858585;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .event-grid {
        display: flex;
        padding-bottom: 0.3125rem;
        overflow: auto;
        scrollbar-width: none;
    }

    .event-grid::-webkit-scrollbar {
        display: none;
    }
}

.section__panel {
    padding-bottom: .625rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.section__panel::-webkit-scrollbar {
    display: none;
}

.section__panel_hidden {
    display: none;
}

.section__panel-list {
    display: flex;
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.section__panel-wrapper {
    position: relative;
}

.section__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    bottom: 10px;
    background: no-repeat 50% 50% url(./assets/arrow-left.png);
    transform: rotate(180deg);
    cursor: pointer;
}

.section__arrow:hover {
    opacity: .7;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 4rem;
    margin-top: auto;
    padding: 0 2.5rem;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.9375rem;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.footer__list {
    display: flex;
    align-items: baseline;
    gap: 0.9375rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .footer__list {
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__link {
    font-size: .75rem;
    color: #858585;
    transition: opacity .15s ease-in-out;
    text-decoration: none;
}

.footer__link:hover {
    color: #000;
}

.footer__copyright {
    margin-left: auto;
    font-size: .75rem;
    color: #858585;
}

@media (max-width: 768px) {
    .footer__copyright {
        margin-left: 0;
    }
}
